.container{
    position: fixed;
    right: 0px;
    top: 20%;
    background-color: rgba(46, 45, 45, 0.719);
    width: 17%;
    height: 50%;
    z-index: 1;
    animation: Display linear 0.2s;
}
.box{
    display: flex;
    gap: 1rem;
    background-color: rgba(0, 0, 0, 0);
    height: 5rem;
    justify-content: center;
    align-items: center;
    animation: Display linear 0.2s;
}

.box:hover{
    opacity: 0.5;
}

.logContainer{
    overflow-y:auto;
    width: 100%;
    height: 85%;
    margin-inline: 1rem;
}

.logText{
    text-align: center;
    margin-bottom: -1rem;
}

@keyframes Display {
  0%{
    right: -10%;
  }
  100%{
    right:0% ;
  }
}